.determination__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.determination__box{
  background-color: $white-75;
  border-bottom: 2px solid $grey;
  border-right: 2px solid $grey;
  border-radius: 3px;
  color: $ft-brown;
  font-family: "Open Sans", sans-serif;
  padding: $m-size;
  margin: 5% 0;
  width: 75%;
  max-width: 60rem;
}

.determination__question {
  font-size: 2.4rem; 
  margin: 0;
 }

.determination__instruction {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem; 
}

.determination__data {	
  display: inline;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  }

.determination__inline {	
  display: inline;
  font-weight: 800;
  margin: 0 0 $s-size 0;
}

.determination__block {	
  display: block;
  margin: 0 0 $m-size 0;
  text-indent: 2rem;
  }
    
.determination__buttonBox {
  display: flex;
  margin: 0;
  padding: 0;
}
.determination__button {
  align-content: space-between;
  background-color: $ft-orange;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 800;
  margin: auto;
  padding: $s-size;
  width: 12rem;
}

.determination__notation {
  font-size: 1.4rem;
  font-weight: 400;
  margin: $l-size 0 $m-size 0;
  text-align: center;
}

hr { 
  border: 0; 
  height: 2px; 
  background-image: -webkit-linear-gradient(left, $lt-grey, $grey, $lt-grey);
  background-image: -moz-linear-gradient(left, $lt-grey, $grey, $lt-grey);
  background-image: -ms-linear-gradient(left, $lt-grey, $grey, $lt-grey);
  background-image: -o-linear-gradient(left, $lt-grey, $grey, $lt-grey); 
}