
footer {
  align-items: center;
  background: $ft-green;
  color: $white;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
}

footer ul {
  display: flex;
  margin: 0;
}

footer ul li {
  margin: 0 0 0 $m-size;
  text-decoration: none;
}

footer a{
  color: $white;
}

.footer__container {
  flex-shrink: 0;
}

.footer__logoText {
	height: 2.5rem;
}