
.hero__container {
	background: $ft-brown;
	max-width: 80rem;
	padding: $m-size;
	width: 80%;
}

.hero__logo {
	animation: 5s fadein 0.5s forwards;

	opacity: 0;
}

@keyframes fadein{
	100%{
			opacity: 1;
	}
}