
.hero__container {
	align-items: center;
	background: $ft-brown;
	display: flex;
	flex-direction: column;
	padding: $m-size;
}

.hero__logo {
	width: 80%;
	max-width: 80rem;
	animation: 2s fadein 0.5s forwards;
	opacity: 0;
}
@keyframes fadein{
	100%{
			opacity: 1;
	}
}