
.list__col1 {
  border-bottom: 1px solid $ft-brown;
  margin-left: 5%;
  padding: $s-size;
  text-align: right;
  width: 15%;
}

.list__col2{
  border-bottom: 1px solid $ft-brown;
  margin-right: 5%;
  padding: $s-size;
  text-align: left;
  width: 65%;
}

.list__dropDownItem {
  font-weight: normal;
  font-size: $m-size;
  line-height: $l-size;
  padding: 0;
}

.list__listing, .list__queryContainer {
  color: $ft-brown;
  display: flex;
  flex-wrap: wrap;
  font-size: 2rem;
  font-weight: 400;
  padding: $s-size;
}

.list__listingSelected {
  font-weight: 700;
}

li {
	list-style: none;
}

.list__queryListing {
  border-bottom: 1px solid $ft-brown;
  color: $ft-brown;
  font-size: $m-size;
  margin: 0 5%;
  padding: $m-size;
  text-align: left;
  width: 90%;
}
@media (max-width: $small-breakpoint){
  .list__col1 {
    margin-left: 2%;
    width: 15%;
  }
  .list__col2{
    font-size: $m-size;
    margin-right: 0;
    width: 70%;
  }
}

@media (min-width: $desktop-breakpoint){
  .list__col1 {
    margin-left: 25%;
    width: 10%;
  }
  .list__col2 {
    margin-right: 25%;
    width: 35%;
  }

  .list__queryListing {
    font-size: 2.4rem;
    margin: 0 15%;
    padding: $l-size;
    width: 70%;
  }
}