
.modal {
  background: $ft-orange;
  border-radius: 3px;
  border-right: 2px solid darken($ft-orange, 20%);
  border-bottom: 2px solid darken($ft-orange, 20%);
  line-height: 2.4rem;
  max-width: 80%;
  outline: none;
  padding: $l-size;
}

.modal__button {
  align-items: center;
  background: $ft-brown;
  border-radius: 3px;
  border-right: 2px solid lighten($ft-brown, 20%);
  border-bottom: 2px solid lighten($ft-brown, 20%);
  border-top: none;
  border-left: none;
  color: $white;
  display: flex;
  flex-direction: row;
  font-size: $m-size;
  font-weight: 700;
  justify-content: space-between;
  padding: $s-size;
}

.modal__frame {
  max-height: 80%;
  overflow-y: scroll;
}

.modal__scroll {
  overflow: scroll;
}

.modal__list >li {
  list-style-type: disc;
}
// built-in styles from third party

.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close{
  opacity: 0;
}