.DS_Store
_notes
public/assets/css/_notes
public/assets/img/_notes
testing
tempSite
node_modules/
src/playground
data
public/bundle.js
public/bundle.js.map
public/styles.css
public/styles.css.map


public/dist/
.env.test
.env.development
example.dump
