
/* RESET CSS */

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
}

li {
  list-style: none;
}


/* GENERAL STYLES */



/* NAV STYLES */

nav {
	background-color: rgba(138,117,56);
	font-family: "Quicksand", sans-serif;
	font-weight: 700;
	padding: 5px;
	color: rgba(255,255,255,1);
}

nav a{
	color: rgba(255,255,255,1);
}

.topNav, .navMenu{
	display: flex;
	align-items: flex-end;
	flex-direction: row;
	justify-content: space-between;
}


.navLogo {
	height: 48px;
}

.navText {
	height: 36px;
	margin: 0 0 0 10;
}

.navItem {
	padding: 10px;
}

.navItemLg {
	display: none;
}

/* MEDIA QUERIES */

@media (min-width: 480px){

	.navItemLg {
		display: inline-block;
	}

	.navItemSm {
		display: none;
	}

	nav a{
	color: rgba(255,255,255,0.75);
	}

	nav a:hover{
		color: rgba(255,255,255,1);
	}
}