// 

html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
body {
  background: $ft-gold;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

button {
  background-color: $ft-orange;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 800;
  margin: $m-size;
  padding: $s-size;
  text-align: center;
  width: 120px;
}

button:disabled{
  cursor: default;
}