// 

html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
body {
  background: $ft-gold;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
  background-color: $ft-orange;
  border: none;
  font-weight: 800;
  margin: 20px;
  padding: 10px;
}

button:disabled{
  cursor: default;
}