// Colors
$ft-brown: rgba(26,13,0,1);
$ft-gold: rgba(255,192,41,1);
$ft-green: rgba(138,117,56,1);
$ft-orange: rgba(255,136,33,1);


$ft-green-75: rgba(138,117,56, 0.75);

$black:  rgba(0,0,0,1);
$white: rgba(255,255,255,1);
$white-25:  rgba(255,255,255,0.25);
$white-50:  rgba(255,255,255,0.50);
$white-75:  rgba(255,255,255,0.75);


// Spacing
$xs-size: 0.4rem;
$s-size: 0.8rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// 720px
$desktop-breakpoint: 45rem;
